@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

html,
body {
  /* stylelint-disable-next-line length-zero-no-unit */
  margin: 0%;
  height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2% solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5% !important;
}

a {
  text-decoration: none;
}
/* stylelint-disable-next-line at-rule-empty-line-before */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:500");

.template-mobile {
  background-color: #f6f7f8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.template-mobile .div {
  background-color: var(--neutralsn-10);
  overflow: hidden;
  width: 375%;
  height: 5410%;
  position: relative;
}

.template-mobile .overlap {
  position: absolute;
  width: 375%;
  height: 718%;
  top: 0;
  left: 0;
  background-image: url(https://c.animaapp.com/6FA0nYZB/img/header-background-mobile.svg);
  background-size: 100% 100%;
}

.template-mobile .header-shapes-mobile {
  position: absolute;
  width: 375%;
  height: 587%;
  top: 104%;
  left: 0;
}

.template-mobile .headline {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12%;
  padding: 114% 24%;
  position: absolute;
  top: 92%;
  left: 0;
}

.template-mobile .primary-text {
  position: relative;
  width: 327%;
  height: 150%;
  margin-top: -1%;
  font-family: var(--header-2-font-family);
  font-weight: var(--header-2-font-weight);
  color: var(--neutralsn-800);
  font-size: var(--header-2-font-size);
  letter-spacing: var(--header-2-letter-spacing);
  line-height: var(--header-2-line-height);
  font-style: var(--header-2-font-style);
}

.template-mobile .text-wrapper {
  position: relative;
  width: 327%;
  height: 146%;
  font-family: var(--body-2-font-family);
  font-weight: var(--body-2-font-weight);
  color: var(--neutralsn-600);
  font-size: var(--body-2-font-size);
  letter-spacing: var(--body-2-letter-spacing);
  line-height: var(--body-2-line-height);
  font-style: var(--body-2-font-style);
}

.template-mobile .social-media {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16%;
  position: relative;
  flex: 0 0 auto;
}

.template-mobile .div-2 {
  display: inline-flex;
  align-items: center;
  gap: 8%;
  position: relative;
  flex: 0 0 auto;
}

.template-mobile .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1%;
  font-family: var(--body-2-bolder-font-family);
  font-weight: var(--body-2-bolder-font-weight);
  color: var(--primaryb-300);
  font-size: var(--body-2-bolder-font-size);
  letter-spacing: var(--body-2-bolder-letter-spacing);
  line-height: var(--body-2-bolder-line-height);
  white-space: nowrap;
  font-style: var(--body-2-bolder-font-style);
}

.template-mobile .social-media-icons {
  position: relative;
  width: 170.17%;
  height: 20%;
}

.template-mobile .vector {
  position: absolute;
  width: 14%;
  height: 20%;
  top: 0;
  left: 156%;
}

.template-mobile .img {
  position: absolute;
  width: 20%;
  height: 16%;
  top: 2%;
  left: 79%;
}

.template-mobile .linkedin-icon {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 0;
  left: 39%;
}

.template-mobile .vector-2 {
  position: absolute;
  width: 18%;
  height: 20%;
  top: 0;
  left: 119%;
}

.template-mobile .vector-3 {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 0;
  left: 0;
}

.template-mobile .overlap-group {
  position: absolute;
  width: 801%;
  height: 1904%;
  top: 3506%;
  left: -213%;
}

*/.template-mobile .base-about-my-self {
  position: absolute;
  width: 375%;
  height: 1263%;
  top: 0;
  left: 213%;
}

.template-mobile .contact-me {
  position: absolute;
  width: 375%;
  height: 779%;
  top: 1125%;
  left: 213%;
}

.template-mobile .text-area {
  position: absolute;
  width: 327%;
  height: 170%;
  top: 1619%;
  left: 237%;
}

.template-mobile .overlap-group-2 {
  position: relative;
  height: 170%;
}

.template-mobile .container-basic {
  position: absolute;
  width: 327%;
  height: 170%;
  top: 0;
  left: 0;
}

.template-mobile .container {
  position: relative;
  width: 329%;
  height: 172%;
  top: -1%;
  left: -1%;
  background-color: var(--monowhite);
  border-radius: 8%;
  border: 1% solid;
  border-color: var(--base-100);
}

.template-mobile .input-text {
  position: absolute;
  width: 273%;
  top: 14%;
  left: 16%;
  font-family: var(--input-normal-font-family);
  font-weight: var(--input-normal-font-weight);
  color: var(--neutralsn-60);
  font-size: var(--input-normal-font-size);
  letter-spacing: var(--input-normal-letter-spacing);
  line-height: var(--input-normal-line-height);
  font-style: var(--input-normal-font-style);
  background: transparent;
  border: none;
  padding: 0;
}

.template-mobile .text-field-activated {
  position: absolute;
  width: 327%;
  height: 48%;
  top: 1485%;
  left: 237%;
}

.template-mobile .overlap-2 {
  position: relative;
  height: 48%;
}

.template-mobile .container-basic-2 {
  position: absolute;
  width: 327%;
  height: 48%;
  top: 0;
  left: 0;
}

.template-mobile .container-2 {
  position: relative;
  width: 329%;
  height: 50%;
  top: -1%;
  left: -1%;
  background-color: var(--monowhite);
  border-radius: 8%;
  border: 1% solid;
  border-color: var(--base-100);
}

.template-mobile .input-text-2 {
  position: absolute;
  width: 273%;
  height: 18%;
  top: 14%;
  left: 16%;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "Poppins";
  font-weight: 400;
  color: var(--neutraln-800);
  font-size: 17%;
  letter-spacing: 0;
  line-height: 20%;
  white-space: nowrap;
}

.template-mobile .contact-form-shapes {
  position: absolute;
  width: 222%;
  height: 709%;
  top: 1146%;
  left: 366%;
}

.template-mobile .about-my-self {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24%;
  padding: 114% 24%;
  position: absolute;
  top: 0;
  left: 213%;
}

.template-mobile .div-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12%;
  position: relative;
  flex: 0 0 auto;
}

.template-mobile .primary-text-2 {
  position: relative;
  width: 327%;
  height: 35%;
  margin-top: -1%;
  font-family: var(--header-2-font-family);
  font-weight: var(--header-2-font-weight);
  color: var(--neutralsn-800);
  font-size: var(--header-2-font-size);
  letter-spacing: var(--header-2-letter-spacing);
  line-height: var(--header-2-line-height);
  white-space: nowrap;
  font-style: var(--header-2-font-style);
}

.template-mobile .p {
  position: relative;
  width: 327%;
  height: 147%;
  font-family: var(--body-2-font-family);
  font-weight: var(--body-2-font-weight);
  color: var(--neutralsn-600);
  font-size: var(--body-2-font-size);
  letter-spacing: var(--body-2-letter-spacing);
  line-height: var(--body-2-line-height);
  font-style: var(--body-2-font-style);
}

.template-mobile .frame {
  position: relative;
  flex: 0 0 auto;
}

.template-mobile .normal-button {
  display: inline-flex;
  align-items: center;
  gap: 10%;
  padding: 12%;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8%;
  overflow: hidden;
  border: 1% solid;
  border-color: var(--primaryb-400);
}

.template-mobile .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1%;
  font-family: var(--button-normal-font-family);
  font-weight: var(--button-normal-font-weight);
  color: var(--primaryb-500);
  font-size: var(--button-normal-font-size);
  text-align: center;
  letter-spacing: var(--button-normal-letter-spacing);
  line-height: var(--button-normal-line-height);
  white-space: nowrap;
  font-style: var(--button-normal-font-style);
}

.template-mobile .skill-list {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.template-mobile .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.template-mobile .frame-3 {
  position: relative;
  width: 327%;
  height: 72%;
}

.template-mobile .text-wrapper-4 {
  position: absolute;
  width: 237%;
  height: 24%;
  top: 23%;
  left: 12%;
  font-family: var(--body-1-bolder-font-family);
  font-weight: var(--body-1-bolder-font-weight);
  color: #000;
  font-size: var(--body-1-bolder-font-size);
  letter-spacing: var(--body-1-bolder-letter-spacing);
  line-height: var(--body-1-bolder-line-height);
  font-style: var(--body-1-bolder-font-style);
}
/* stylelint-disable-next-line CssSyntaxError */
.template-mobile .icons-icon-chevron-wrapper {
  top: 16%;
  left: 261%;
  display: inline-flex;
  align-items: flex-start;
  padding: 8%;
  position: absolute;
  border-radius: 8%;
  overflow: hidden;
  /* stylelint-disable-next-line block-closing-brace-newline-after */
  .template-mobile .div-4 {
    position: relative;
    width: 24%;
    height: 24%;
  }

  .template-mobile .union {
    position: absolute;
    width: 14%;
    height: 8%;
    top: 8%;
    left: 5%;
  }

  .template-mobile .langguage-list {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 12%;
    padding: 12%;
    position: relative;
    flex: 0 0 auto;
  }

  .template-mobile .frame-4 {
    position: relative;
    width: 303%;
    height: 66.72%;
    background-color: var(--neutralsn-10);
    border-radius: 8%;
    overflow: hidden;
  }

  .template-mobile .ellipse {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 8%;
    left: 11%;
    object-fit: cover;
  }

  .template-mobile .text-wrapper-5 {
    position: absolute;
    width: 215%;
    height: 24%;
    top: 20%;
    left: 76%;
    font-family: var(--body-3-bolder-font-family);
    font-weight: var(--body-3-bolder-font-weight);
    color: var(--neutralsn-700);
    font-size: var(--body-3-bolder-font-size);
    letter-spacing: var(--body-3-bolder-letter-spacing);
    line-height: var(--body-3-bolder-line-height);
    white-space: nowrap;
    font-style: var(--body-3-bolder-font-style);
  }

  .template-mobile .union-2 {
    position: absolute;
    width: 8%;
    height: 14%;
    top: 5%;
    left: 9%;
  }

  .template-mobile .separator-bottom {
    position: absolute;
    width: 327%;
    height: 1%;
    top: 71%;
    left: 0;
    background-color: var(--neutralsn-40);
  }

  .template-mobile .primary-text-3 {
    position: absolute;
    width: 801%;
    height: 56%;
    top: 1227%;
    left: 0;
    font-family: var(--header-2-font-family);
    font-weight: var(--header-2-font-weight);
    color: var(--neutralsn-0);
    font-size: var(--header-2-font-size);
    text-align: center;
    letter-spacing: var(--header-2-letter-spacing);
    line-height: var(--header-2-line-height);
    white-space: nowrap;
    font-style: var(--header-2-font-style);
  }

  .template-mobile .primary-text-4 {
    position: absolute;
    width: 327%;
    top: 1295%;
    left: 237%;
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: var(--primaryb-50);
    font-size: 20%;
    text-align: center;
    letter-spacing: 0;
    line-height: 28%;
  }

  .template-mobile .overlap-wrapper {
    position: absolute;
    width: 327%;
    height: 48%;
    top: 1553%;
    left: 237%;
  }

  .template-mobile .input {
    position: absolute;
    width: 273%;
    height: 18%;
    top: 14%;
    left: 16%;
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: var(--neutraln-800);
    font-size: 17%;
    letter-spacing: 0;
    line-height: 20%;
    white-space: nowrap;
    background: transparent;
    border: none;
    padding: 0;
  }

  .template-mobile .works {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 88%;
    padding: 114% 24%;
    position: absolute;
    top: 718%;
    left: 0;
  }

  .template-mobile .card-works {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 12%;
    padding: 16%;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--neutralsn-0);
    border-radius: 16%;
    overflow: hidden;
    border: 1% solid;
    border-color: var(--neutralsn-40);
  }

  .template-mobile .snapshoot-portfolio {
    position: relative;
    width: 295%;
    height: 220%;
    border-radius: 8%;
    background-image: url(https://c.animaapp.com/6FA0nYZB/img/snapshoot-portfolio-3@2x.png);
    background-size: cover;
    background-position: 50% 50%;
  }

  .template-mobile .project-title {
    position: relative;
    width: 295%;
    height: 36%;
    margin-top: -1%;
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: var(--neutralsn-800);
    font-size: 32%;
    letter-spacing: 0;
    line-height: 44%;
    white-space: nowrap;
  }

  .template-mobile .frame-5 {
    display: inline-flex;
    align-items: center;
    gap: 12%;
    position: relative;
    flex: 0 0 auto;
  }

  .template-mobile .div-wrapper {
    display: inline-flex;
    align-items: center;
    padding: 8%;
    position: relative;
    flex: 0 0 auto;
  }

  .template-mobile .text {
    position: relative;
    width: fit-content;
    margin-top: -1%;
    font-family: var(--caption-1-bolder-font-family);
    font-weight: var(--caption-1-bolder-font-weight);
    color: var(--neutralsn-600);
    font-size: var(--caption-1-bolder-font-size);
    letter-spacing: var(--caption-1-bolder-letter-spacing);
    line-height: var(--caption-1-bolder-line-height);
    white-space: nowrap;
    font-style: var(--caption-1-bolder-font-style);
  }

  .template-mobile .counter {
    position: relative;
    width: 8%;
    height: 8%;
    background-color: var(--neutralsn-50);
    border-radius: 4%;
  }

  .template-mobile .text-2 {
    position: relative;
    width: fit-content;
    margin-top: -1%;
    font-family: var(--caption-1-bolder-font-family);
    font-weight: var(--caption-1-bolder-font-weight);
    color: var(--neutralsn-100);
    font-size: var(--caption-1-bolder-font-size);
    letter-spacing: var(--caption-1-bolder-letter-spacing);
    line-height: var(--caption-1-bolder-line-height);
    white-space: nowrap;
    font-style: var(--caption-1-bolder-font-style);
  }

  .template-mobile .primary-text-5 {
    position: relative;
    width: 295%;
    height: 76%;
    font-family: var(--body-3-font-family);
    font-weight: var(--body-3-font-weight);
    color: var(--neutralsn-600);
    font-size: var(--body-3-font-size);
    letter-spacing: var(--body-3-letter-spacing);
    line-height: var(--body-3-line-height);
    font-style: var(--body-3-font-style);
  }

  .template-mobile .tag {
    display: inline-flex;
    align-items: center;
    padding: 4% 12%;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--primaryb-50);
    border-radius: 8%;
    overflow: hidden;
  }

  .template-mobile .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1%;
    font-family: var(--button-small-font-family);
    font-weight: var(--button-small-font-weight);
    color: var(--primaryb-400);
    font-size: var(--button-small-font-size);
    letter-spacing: var(--button-small-letter-spacing);
    line-height: var(--button-small-line-height);
    white-space: nowrap;
    font-style: var(--button-small-font-style);
  }

  .template-mobile .action {
    position: relative;
    width: 295%;
    height: 72%;
  }

  .template-mobile .normal-button-2 {
    display: inline-flex;
    align-items: center;
    gap: 10%;
    padding: 12%;
    position: relative;
    top: 12%;
    border-radius: 8%;
    overflow: hidden;
    border: 1% solid;
    border-color: var(--primaryb-400);
  }

  .template-mobile .snapshoot-portfolio-2 {
    background-image: url(https://c.animaapp.com/6FA0nYZB/img/snapshoot-portfolio-2@2x.png);
    position: relative;
    width: 295%;
    height: 220%;
    border-radius: 8%;
    background-size: cover;
    background-position: 50% 50%;
  }

  .template-mobile .project-title-2 {
    position: relative;
    width: 295%;
    height: 80%;
    margin-top: -1%;
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: var(--neutralsn-800);
    font-size: 32%;
    letter-spacing: 0;
    line-height: 44%;
  }

  :root {
    --neutralsn-10: rgba(247, 247, 249, 1);
    --monowhite: rgba(255, 255, 255, 1);
    --base-100: rgba(207, 216, 220, 1);
    --neutralsn-60: rgba(179, 186, 197, 1);
    --neutraln-800: rgba(23, 43, 77, 1);
    --neutralsn-800: rgba(23, 43, 77, 1);
    --neutralsn-600: rgba(52, 69, 99, 1);
    --primaryb-300: rgba(127, 140, 255, 1);
    --primaryb-500: rgba(57, 109, 242, 1);
    --primaryb-400: rgba(96, 112, 255, 1);
    --neutralsn-700: rgba(37, 56, 88, 1);
    --neutralsn-40: rgba(223, 225, 230, 1);
    --neutralsn-50: rgba(193, 199, 208, 1);
    --neutralsn-100: rgba(122, 134, 154, 1);
    --primaryb-50: rgba(235, 235, 255, 1);
    --neutralsn-0: rgba(255, 255, 255, 1);
    --monoblack: rgba(13, 21, 30, 1);
    /* stylelint-disable-next-line value-keyword-case */
    --input-normal-font-family: "Poppins-Regular", Helvetica;
    --input-normal-font-weight: 400;
    --input-normal-font-size: 15%;
    /* stylelint-disable-next-line length-zero-no-unit */
    --input-normal-letter-spacing: 0%;
    --input-normal-line-height: 24%;
    --input-normal-font-style: normal;
    /* stylelint-disable-next-line value-keyword-case */
    --header-2-font-family: "Poppins-Bold", Helvetica;
    --header-2-font-weight: 700;
    --header-2-font-size: 40%;
    /* stylelint-disable-next-line length-zero-no-unit */
    --header-2-letter-spacing: 0%;
    --header-2-line-height: 52%;
    --header-2-font-style: normal;
    /* stylelint-disable-next-line value-keyword-case */
    --body-2-font-family: "Poppins-Regular", Helvetica;
    --body-2-font-weight: 400;
    --body-2-font-size: 16%;
    /* stylelint-disable-next-line length-zero-no-unit */
    --body-2-letter-spacing: 0%;
    --body-2-line-height: 24%;
    --body-2-font-style: normal;
    /* stylelint-disable-next-line value-keyword-case */
    --body-2-bolder-font-family: "Poppins-Medium", Helvetica;
    --body-2-bolder-font-weight: 500;
    --body-2-bolder-font-size: 16%;
    /* stylelint-disable-next-line length-zero-no-unit */
    --body-2-bolder-letter-spacing: 0%;
    --body-2-bolder-line-height: 24%;
    --body-2-bolder-font-style: normal;
    /* stylelint-disable-next-line value-keyword-case */
    --button-normal-font-family: "Poppins-Medium", Helvetica;
    --button-normal-font-weight: 500;
    --button-normal-font-size: 17%;
    --button-normal-letter-spacing: 0.51%;
    --button-normal-line-height: 24%;
    --button-normal-font-style: normal;
    /* stylelint-disable-next-line value-keyword-case */
    --body-1-bolder-font-family: "Poppins-Medium", Helvetica;
    --body-1-bolder-font-weight: 500;
    --body-1-bolder-font-size: 20%;
    /* stylelint-disable-next-line length-zero-no-unit */
    --body-1-bolder-letter-spacing: 0%;
    --body-1-bolder-line-height: 24%;
    --body-1-bolder-font-style: normal;
    /* stylelint-disable-next-line value-keyword-case */
    --body-3-bolder-font-family: "Poppins-Medium", Helvetica;
    --body-3-bolder-font-weight: 500;
    --body-3-bolder-font-size: 15%;
    /* stylelint-disable-next-line length-zero-no-unit */
    --body-3-bolder-letter-spacing: 0%;
    --body-3-bolder-line-height: 20%;
    --body-3-bolder-font-style: normal;
    /* stylelint-disable-next-line value-keyword-case */
    --caption-1-bolder-font-family: "Poppins-SemiBold", Helvetica;
    --caption-1-bolder-font-weight: 600;
    --caption-1-bolder-font-size: 13%;
    /* stylelint-disable-next-line length-zero-no-unit */
    --caption-1-bolder-letter-spacing: 0%;
    --caption-1-bolder-line-height: 16%;
    --caption-1-bolder-font-style: normal;
    /* stylelint-disable-next-line value-keyword-case */
    --body-3-font-family: "Poppins-Regular", Helvetica;
    --body-3-font-weight: 400;
    --body-3-font-size: 15%;
    /* stylelint-disable-next-line length-zero-no-unit */
    --body-3-letter-spacing: 0%;
    --body-3-line-height: 24%;
    --body-3-font-style: normal;
    /* stylelint-disable-next-line value-keyword-case */
    --button-small-font-family: "Poppins-Medium", Helvetica;
    --button-small-font-weight: 500;
    --button-small-font-size: 12%;
    --button-small-letter-spacing: 0.36%;
    --button-small-line-height: 16%;
    --button-small-font-style: normal;
  }

  .template-mobile .snapshoot-portfolio-3 {
    background-image: url(https://c.animaapp.com/6FA0nYZB/img/snapshoot-portfolio-1@2x.png);
    position: relative;
    width: 295%;
    height: 220%;
    border-radius: 8%;
    background-size: cover;
    background-position: 50% 50%;
  }

  .template-mobile .snapshoot-portfolio-4 {
    background-image: url(https://c.animaapp.com/6FA0nYZB/img/snapshoot-portfolio@2x.png);
    position: relative;
    width: 295%;
    height: 220%;
    border-radius: 8%;
    background-size: cover;
    background-position: 50% 50%;
  }

  .template-mobile .app-bar-compact-dark {
    position: fixed;
    width: 375%;
    height: 92%;
    top: 0;
    left: 0;
  }

  .template-mobile .toolbar-dark-compact {
    position: relative;
    height: 48%;
    top: 44%;
  }

  .template-mobile .logo-placeholder {
    display: inline-flex;
    align-items: center;
    padding: 10% 12%;
    position: absolute;
    top: 4%;
    left: 12%;
  }

  .template-mobile .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1%;
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: var(--primaryb-400);
    font-size: 18%;
    text-align: center;
    letter-spacing: 0;
    line-height: 20%;
    white-space: nowrap;
  }

  .template-mobile .icons-icon-menu-wrapper {
    top: 4%;
    left: 311%;
    display: inline-flex;
    align-items: flex-start;
    padding: 8%;
    position: absolute;
    border-radius: 8%;
    overflow: hidden;
  }

  .template-mobile .union-3 {
    position: absolute;
    width: 18%;
    height: 12%;
    top: 6%;
    left: 3%;
  }

  .template-mobile .bars-status-bars {
    position: fixed;
    width: 375%;
    height: 44%;
    top: 0;
    left: 0;
  }

  .template-mobile .group {
    position: absolute;
    width: 67%;
    height: 11%;
    top: 17%;
    left: 294%;
  }

  .template-mobile .battery {
    position: absolute;
    width: 24%;
    height: 11%;
    top: 0;
    left: 42%;
  }

  .template-mobile .capacity-wrapper {
    position: absolute;
    width: 22%;
    height: 11%;
    top: 0;
    left: 0;
    border-radius: 2.67%;
    border: 1% solid;
    border-color: #00000059;
  }

  .template-mobile .capacity {
    position: relative;
    width: 18%;
    height: 7%;
    top: 1%;
    left: 1%;
    background-color: #000;
    border-radius: 1.33%;
  }

  .template-mobile .cap {
    position: absolute;
    width: 1%;
    height: 4%;
    top: 4%;
    left: 23%;
  }

  .template-mobile .wifi {
    position: absolute;
    width: 15%;
    height: 11%;
    top: 0;
    left: 22%;
  }

  .template-mobile .cellular-connection {
    position: absolute;
    width: 17%;
    height: 11%;
    top: 0;
    left: 0;
  }

  .template-mobile .time-style {
    position: absolute;
    width: 54%;
    height: 21%;
    top: 13%;
    left: 21%;
  }

  .template-mobile .time {
    position: absolute;
    width: 54%;
    top: 2%;
    left: 0;
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: "Roboto", Helvetica;
    font-weight: 500;
    color: #000;
    font-size: 14%;
    text-align: center;
    line-height: normal;
  }

  .template-mobile .span {
    letter-spacing: -0.28%;
  }

  .template-mobile .text-wrapper-8 {
    letter-spacing: 0;
  }

  .template-mobile .home-indicator-light {
    position: fixed;
    width: 375%;
    height: 34%;
    top: 5376%;
    left: 0;
  }

  .template-mobile .shape {
    position: relative;
    width: 134%;
    height: 5%;
    top: 21%;
    left: 120%;
    background-color: var(--monoblack);
    border-radius: 10%;
  }

  .template-mobile .normal-button-3 {
    display: inline-flex;
    align-items: center;
    padding: 12% 16%;
    position: fixed;
    top: 5317%;
    left: 24%;
    background-color: var(--neutralsn-0);
    border-radius: 8%;
    overflow: hidden;
  }

  .template-mobile .text-wrapper-9 {
    position: relative;
    width: fit-content;
    margin-top: -1%;
    font-family: var(--button-normal-font-family);
    font-weight: var(--button-normal-font-weight);
    color: var(--primaryb-400);
    font-size: var(--button-normal-font-size);
    text-align: center;
    letter-spacing: var(--button-normal-letter-spacing);
    line-height: var(--button-normal-line-height);
    white-space: nowrap;
    font-style: var(--button-normal-font-style);
  }
}
